html,
body {
    height: 100%;
    margin: 0;
    width: 100%;
}

#mapa {
    height: 100%;
    width: 100%;
}

.mi-icono-personalizado {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.mi-segundo-icono-personalizado {
    color: red;
    font-size: 20px;
}