html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}	


#mapa {
    height: 100%;
    width: 100%;
}



#sidebar li:hover{
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}


.hidden{
    display: none;
}